.page {
  font-family: "Roboto Regular", sans-serif;
  max-inline-size: 100%;
}

.header {
  margin-block-start: 104px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  block-size: 329px;
}

.dr-web__svg {
  inline-size: 268px;
  block-size: 50px;
}

.page__main-article {
  font-family: "Roboto Bold", sans-serif;
  font-size: clamp(1.25rem, 0.425rem + 4.125vw, 5.375rem);
  font-weight: 800;
}

.article-secondary {
  color: #666666;
  font-weight: 500;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
}

.page__button {
  padding-inline: 32px;
  padding-block: 15px;
  border-radius: 5px;
  background-color: #69b42e;
  color: #ffffff;
  font-weight: 400px;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  transition: 0.5s transform;
  outline: none;
  border: none;
}

.page__button:hover {
  transform: scale(110%);
  cursor: pointer;
}

.article-button {
  position: relative;
  text-decoration: none;
}

.article-button::after {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
  height: 2px;
  content: "";
  background-color: #ffffff;
  transition: width 0.3s ease-out;
}

.page__button:hover > .article-button::after {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-inline-size: 1140px;
  inline-size: 100%;
  min-inline-size: 320px;
}

.android__presentation {
  position: relative;
  block-size: 587px;
  max-inline-size: 1170px;
  inline-size: 100%;
  min-inline-size: 296px;
  margin-block-start: 62px;
}

.phone-img {
  position: absolute;
  z-index: 1;
}

.phone-img-animation {
  animation: phoneAnimation 1s ease;
}

.table-img {
  position: absolute;
  min-inline-size: 296px;
}

.table-img-animation {
  animation: tableAnimation 1s ease;
}

.decoration__presentation {
  position: absolute;
  border-radius: 42px;
  color: #ffffff;
  font-weight: 600;
  font-size: clamp(1.514375rem, 0.7423rem + 3.8606vw, 5.375rem);
  z-index: 4;
  top: 43%;
  left: 71.9%;
  padding: 19px 35px;
  background-color: #69b42e;
}

.decoration__presentation-animation {
  animation: presentationDecorationAnimation 1s ease;
}

.cover {
  position: absolute;
  background-color: #f2f2f2;
  bottom: 0;
  inline-size: 100%;
  block-size: 477px;
  z-index: -1;
  border-radius: 32px;
}

.information__section {
  margin-block-start: 64px;
  block-size: 658px;
  background-color: black;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__section-animation {
  animation: informatioSectionAnimation 1.5s ease;
}

.information__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 941px;
}

.information__container-description {
  inline-size: 509px;
  block-size: 277px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.information__container-buy-section {
  inline-size: 368px;
  block-size: 498px;
  background-color: #ffffff;
  border-radius: 10px;
}

.article-green {
  color: #69b42e;
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
  font-weight: 600;
}

.article-white {
  color: #ffffff;
  font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
  line-height: 37.5px;
}

.article__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #ffffff;
}

.article__description-rules {
  display: flex;
  gap: 12px;
}

.description-rules-item {
  color: #d9d9d9;
  padding: 8px 12px;
  border: 1px solid #cccccc;
  border-radius: 32px;
  font-weight: 400;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  transition: 0.5s transform;
}

.description-rules-item:hover {
  transform: scale(110%);
}

.article__main-text {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  line-height: 23.44px;
}

.link-promo {
  position: relative;
  inline-size: 113px;
  color: #69b42e;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
}

.link-promo::after {
  display: block;
  position: absolute;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: #69b42e;
  transition: width 1s;
}

.link-promo:hover::after {
  width: 100%;
}

.information__container-buy-section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 32px;
}

.information__container-buy-section-logo {
  position: relative;
}

.phoneOnShield-img {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 1;
}

.information__service-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: start;
}

.information__service-container-header {
  font-weight: 500;
  line-height: 30px;
  font-size: clamp(1.25rem, 1.2rem + 0.25vw, 1.5rem);
}

.information__service-container-main-text {
  color: #666666;
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 400;
  line-height: 18.75px;
}

.information__price-container {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-self: start;
  flex-direction: column;
}

.price-old {
  position: relative;
  line-height: 24px;
  color: #b3b3b3;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
}

.price-new {
  font-size: clamp(2rem, 2rem + 0vw, 2rem);
  line-height: 36px;
  font-weight: 700;
}

.price-mark {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-weight: 400;
  line-height: 18px;
}

.price__button {
  inline-size: 100%;
}

.benefits__section {
  margin-block-start: 64px;
  display: flex;
  gap: 32px;
  inline-size: 1170px;
}

.benefits__section-animation {
  animation: benefitsSectionAnimation 1.5s ease;
}

.benefit-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 64px;
  padding-inline: 64px;
  background-color: #f2f2f2;
  height: 616px;
  inline-size: 569px;
  border-radius: 32px;
}

.benefit-container__header {
  font-family: "Roboto Bold";
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  font-weight: 600;
  line-height: 37.5px;
}

.benefit-container__list-item {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 400;
  line-height: 23.44px;
}

.benefit-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.image-animation {
  animation: test infinite 3s ease;
}

.footer {
  margin-block-start: 166px;
  background-color: #212121;
  height: 228px;
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.footer__container {
  margin-block-start: 74px;
  inline-size: 1168px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.footer__container-header {
  display: flex;
  gap: 12px;
}

.footer-text {
  color: #c6c7c8;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  font-weight: 400;
  line-height: 18px;
}

.footer__container-main-text {
  inline-size: 368px;
}

@media (width: 768px) {

}